<router-outlet>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-profile-picture></app-profile-picture>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-title [title]="title" class="text-center"></app-title>
        <app-description [description]="description"></app-description>
      </div>
      <app-title [title]="titleSN" class="text-center"></app-title>
      <app-social-networks
        [github]="github"
        [instagram]="instagram"
        [linkedin]="linkedin"
      ></app-social-networks>
    </div>
  </div>
</router-outlet>
