/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(2,0,36);
  background: linear-gradient(188deg, rgba(2,0,36,1) 0%, rgba(9,56,71,1) 18%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}
